.academy-banner{
    background-color: #4d6475;
    height: auto;
    min-height: 150px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 93px;
    z-index: 1;
    .academy-text{
        border-bottom: 1px solid white;
        display: inline-flex;
        h2{
            color: #bec9d0;
            margin: 0px;
        }
        p{
            color: #bec9d0;
            font-size: 16px;
        }
    }
    .candidatura{
        margin-top: 20px;
        color: #fff;
        a{
            color: #fff;
            text-decoration: underline;
        }
    }
}

@media(max-width:899px) {
    .academy-banner{
        height: auto;
        padding: 20px 0;
        .academy-text{
            flex-direction: column;
            border:  none
        }
    }
    .candidatura{
        display: none;
    }
    .application-text{
        display: flex;
        flex-direction: column;
    }
    
}