
.info-content{
    color: #485d6d;
    p{
        color: #485d6d; 
    }
    padding: 60px 0;

    h2{
        font-size: 42px;
    }

    .box-info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 300px;
            padding: 10px 24px;
            border: 1px solid #29363f;
            background-color: #acbbc4;
            margin-bottom: 20px;

            p { 
                color: #485d6d
            }
        }
    }
}


@media(max-width:899px) {
    .info-content{
        h2{
            font-size: 28px;
        }

        .box-info{
            flex-direction: column;

            .box{
                width: 100%;
                height: auto;
            }
        }
    }
}