.academy-picture{
    background-image: url("/academy-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;

    .content{
       .landing-content{
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            padding: 117px 0 24px 0;
            color: white;
        h1{
            font-size: 62px;
            margin-bottom: 0px;
        }
        h4{
            margin-top: 60px;
        }
        p{
            color: white;
        }
        a{
            text-decoration: underline;
            color: white;
        }
       }
    }
}


@media(min-width:900px) and (max-width:1100px) {
    .content {
        text-align: center;
        h1{
            font-size: 48px;
        }
    }
}