.bg-grey{
    background-color: #bbc6cc;
}

.description-academy{
    padding: 60px 0;
    h2{
        font-size: 38px;
        margin: 0 0 10px 0;
        line-height: 3rem;
        font-weight: 500;
        color: #f9faf9;
    }
    p{
        margin-top: 20px;
        font-size: 34px;
        margin: 0;
        line-height: 3rem;
        font-weight: 500;
        color: #4d6676;
    }
}

@media(max-width:899px) {
    .description-academy{
        h2{
            font-size: 28px;
        }
        p{
            font-size: 24px;
        }
    }
}